.app {
  text-align: center;
}

.char-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    padding: 5rem;
}

.charStyle {
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid black;
}